.navigation{
  text-decoration: none;
  color: antiquewhite;
  margin: 10px;
  display: inherit;
}
.navigation:hover{
  color:#fff;
  text-decoration: none;
}
.footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
  background:black;
  color:white;
  min-height:100px
}
body{
  background: lavender;
}